<% @recipes.each_with_index do |recipe, index| %>
  <% done = recipe.done? ? "[X]" : "[ ]" %>
  <li>
    <%= done %><%= recipe.name %> - <%= recipe.description %> - <%= recipe.rating %>/5 (<%= recipe.prep_time %>)
  </li>
<% end %>
